@{
    ViewData["Title"] = "Experience";
}

<h2 class="mb-5">Experience</h2>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Project Lead Developer</h3>
        <div class="subheading mb-3">Zhejiang Cangrun Tech</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Collaborated with cross-functional Agile teams to deliver high-quality web applications.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Developed and maintained responsive web applications using React, Vue, and PHP.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Utilized TailwindCSS to create user-friendly and visually appealing interfaces for web applications.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Implemented RESTful APIs for seamless communication between front-end and back-end systems.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Collaborated with stakeholders to create detailed technical briefs and translate requirements into technical solutions.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Conducted code reviews to ensure code quality.
            </li>
        </ul>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">JUL 2020 - JUL 2022</span></div>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Senior Engineer</h3>
        <div class="subheading mb-3">Huzhou Procuratorial Information Service Center</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Full-stack development projects, ensuring the integration of Front-End web technologies (HTML, CSS, JavaScript) and
                Laravel PHP framework.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Successfully led infrastructure development projects on-premises, optimizing system performance and scalability.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Utilized Ant Design to create user-friendly and visually appealing interfaces for web applications.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Played a key role in enhancing application speed and scalability, resulting in improved user experiences.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Applied DevOps principles for more efficient software delivery and deployment processes.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Utilized Git for version control and coordinated with team members on Git workflows.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Integrated continuous integration and continuous deployment (CI/CD) pipelines for automatic testing and deployment.
            </li>
        </ul>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">OCT 2010 - SEP 2019</span></div>
</div>

