@{
    ViewData["Title"] = "Home";
}

<h1 class="mb-0">
    Frank
    <span class="text-primary">Zhou</span>
</h1>
<div class="subheading mb-5">
    Northshore · Auckland, New Zealand · (+64) 027 2496 231 ·
    <a href="mailto:cnfrank527@gmail.com">cnfrank527@gmail.com</a>
</div>
<p class="lead mb-5">
    Experienced Full Stack Developer with a strong background in JavaScript, React, and Node.js. Seeking to
    contribute my skills and expertise to a web development team while embracing Agile practices.
</p>
<div class="social-icons">
    <a class="social-icon" href="https://www.linkedin.com/in/cnfrank527/"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
</div>
