@{
    ViewData["Title"] = "Education";
}

<h2 class="mb-5">Education</h2>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Eastern Institution of Technology</h3>
        <div class="subheading mb-3">Master of Information Technology</div>
        <div>Auckland, New Zealand</div>
        <p></p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">2022 - 2023</span></div>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="flex-grow-1">
        <h3 class="mb-0">Huzhou University</h3>
        <div class="subheading mb-3">Bachelor of Computer Science</div>
        <div>Huzhou, China</div>
        <p></p>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">2001 - 2005</span></div>
</div>
